.nav-item a{
    margin-left: 29px !important;
    color: white !important;
}
.primary{
    background-color: blue !important;
    font-size: 15px !important;
    height: 37px !important;
    color: white !important;
}
.btnnn{
    font-size: 15px !important;
    outline: 1px solid rgba(113, 113, 113, 0.572) !important;
    height: 37px !important;
    color: white !important;
}
.btnnn:hover{
   background-color: rgba(252, 253, 253, 0.256) !important;
}